<a href="https://colab.research.google.com/github/andhikaaria/MachineLearning/blob/main/mgg8/SVM_Regression_automobile_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Andhika Aria Pratama N

Nim : 1103202121

In [75]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [76]:
import pandas as pd

# Ganti 'file_path.csv' dengan jalur file CSV sesuai kebutuhan Anda
file_path = '/content/gdrive/MyDrive/Dataset/Automobile.csv'

# Membaca file CSV menjadi DataFrame
df = pd.read_csv(file_path)

# Tampilkan DataFrame
df

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [77]:
import pandas as pd

# Menghapus kolom 'name' dan 'origin'
df = df.drop(['name', 'origin'], axis=1)

In [78]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year'],
      dtype='object')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 21.9 KB

In [80]:
nan_count = df.isnull().sum()
print(nan_count)

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
dtype: int64

In [81]:
# hitung rata-rata horsepower, skipna=True artinya abaikan NaN
mean_hp = df['horsepower'].mean(skipna=True)

# isi NaN dengan nilai rata-rata
df['horsepower'].fillna(value=mean_hp, inplace=True)

In [82]:
# Mengecek tipe data kolom 'model_year'
tipe_data_model_year = df['model_year'].dtype

tipe_data_model_year

dtype('int64')

In [83]:
# Mengecek apakah 'amc rebel sst' ada di dalam DataFrame
is_amc_rebel_sst = df.isin(['amc rebel sst'])

# Menampilkan kolom-kolom di mana nilai 'amc rebel sst' ditemukan
kolom_dengan_amc_rebel_sst = df.columns[is_amc_rebel_sst.any()].tolist()

print(f'Nilai "amc rebel sst" ditemukan di kolom: {kolom_dengan_amc_rebel_sst}')

Nilai "amc rebel sst" ditemukan di kolom: []

In [84]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
import numpy as np

# Pisahkan data menjadi fitur (X) dan target (y)
X = df.drop('cylinders', axis=1)
y = df['cylinders']

# Pisahkan data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalisasi fitur menggunakan StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Inisialisasi model SVM untuk regresi
svm_model = SVR(kernel='linear')

# Melatih model
svm_model.fit(X_train_scaled, y_train)

# Melakukan prediksi
y_pred = svm_model.predict(X_test_scaled)

# Evaluasi model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error (RMSE): {rmse}')

Root Mean Squared Error (RMSE): 0.6005781164586669

In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score, mean_absolute_error


# Evaluasi model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r_squared = r2_score(y_test, y_pred)
explained_variance = explained_variance_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

# Menampilkan hasil evaluasi
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared: {r_squared}')
print(f'Explained Variance Score: {explained_variance}')
print(f'Mean Absolute Error (MAE): {mae}')

Mean Squared Error (MSE): 0.36069407396904
Root Mean Squared Error (RMSE): 0.6005781164586669
R-squared: 0.883553164174644
Explained Variance Score: 0.8835533323746326
Mean Absolute Error (MAE): 0.44993073240511006